.CardPanel{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    width:100%;
}

.IndividualCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    gap: 5px;
    background-color: rgba(134, 134, 134, 0.808);
    border-radius: 20px;
    margin: 15px 0px;
    box-shadow: 0px 0px 4px 0.3px rgba(0, 0, 0, 0.616);
}

.IndividualCard h1{
    font-size: 1.25vw;
    
}

.IndividualCardTitle::first-letter{
    text-transform: capitalize;
}

.IndividualCard:hover{
    background-color: rgb(177, 177, 177);
    box-shadow: 0px 0px 4px 0.3px rgb(0, 0, 0);
}

.IndividualCard img{
    height: 20vw;
}

.IndividualCard img:hover{
    cursor:zoom-in;
}

.CardButtons{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px
    
}

p{
    font-weight: bold;
}

h1{
    font-size: 1.5vw;
}

.CardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.Comunes{
    background-color: #323231;
    color:rgb(236, 236, 236)
}

.Poco.Comunes{
    background-color: #bfbab7;
    color:#323231;
    border-color: black;
}

.Raras{
    background-color: #ede3bb;
    color: #323231;
    border-color: black;
}

.Raras.Míticas{
    background-color: #bd5539;
    color: black;
    border-color: white;
}

.Comunes, .Poco.Comunes, .Raras, .Raras.Míticas{
    border-radius: 10px;
    padding: 10px;
    border-style: groove;
}

.Welcome-Title{
    background-color: #32323198;
    border-radius: 10px;
    padding: 10px;
    color:rgb(235, 235, 235)
}