
.LanguageButtons{
    position: fixed;
    /* bottom: 1.5%; */
    top: 10%;
    right: 1%;
    background-color: rgb(167, 207, 199);
    padding: 6px 0px 6px 6px;
    border-radius: 10px;
    border: solid 2px black;
}

.SpanishButton, .EnglishButton{
    margin-right: 10px;
    width: 50px;
    border-color: rgb(53, 53, 53);
    height: 35px;
    font-weight: bold;
    color:white;
    -webkit-text-stroke: 1.1px black;
    opacity: 50%;
    transform: scale(0.8);
}

.ActiveLanguage{
    transform: scale(1);
    border-color: white;
    opacity: 100%;
}

.SpanishButton{
    background: url("https://cdn.pixabay.com/photo/2012/04/16/12/06/flag-35697_1280.png");
    background-size: cover;
}

.EnglishButton{
    background: url("https://static.vecteezy.com/system/resources/previews/004/221/596/original/united-states-of-america-flag-icon-free-vector.jpg");
    background-size: cover;
}