.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
}
 
.DetailButton, .DetailLink {
    width: auto;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    margin-bottom:8px;

    background: rgb(20, 26, 116);
    color: #FFFFFF;

    
}

.DetailLink:hover, .DetailButton:hover{
    background: rgb(74, 84, 212);
    color: #FFFFFF;
    transition: all ease-in 0.1s;
    
}

.Number {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    order: 1;
}

.Controls {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.Controls button {
    height: 30px;
    margin-top: 10px;
    width: 30px;
    border-radius: 50%;
    background: rgb(37, 37, 37);
}

.Controls button:hover{
    background: rgb(94, 94, 94);
}

.AddRemoveButtons{
    display: flex;
    flex-direction: column;
}