.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 24, 24);
    position:fixed;
    width: 100%;
}

.MTG-Logo{
    height: 75px;
}

.Cart-Info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    height: 70px;
}

.Cart-Widget{
    background-color: #77777785;
    border-radius: 10px;
    margin: 5px;
}

.Cart-Widget:hover{
    background-color: #c9c9c985;
    cursor:pointer;
}

.Navbar-title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
}


.Title-Link{
    color:rgb(65, 19, 19);
    font-size: 35px;
    text-decoration: none;
}

.Button-Container{
    display: flex;
    gap: 15px;
}